[submodule "data/scta-projectfiles"]
	path = data/scta-projectfiles
	url = https://github.com/scta/scta-projectfiles
	branch = master
[submodule "data/scta-codices"]
	path = data/scta-codices
	url = https://github.com/scta/scta-codices
	branch = master
[submodule "data/scta-quotations"]
	path = data/scta-quotations
	url = https://github.com/scta/scta-quotations
	branch = master
[submodule "data/lombardpress-lists"]
	path = data/lombardpress-lists
	url = https://github.com/lombardpress/lombardpress-lists
	branch = master
[submodule "data/scta-rdf-schema"]
	path = data/scta-rdf-schema
	url = https://github.com/scta/scta-rdf-schema
	branch = master
[submodule "data/scta-people"]
	path = data/scta-people
	url = https://github.com/scta/scta-people
	branch = master
