*.rdf
/commentaries
/deanima-commentaries
/names
/quotations
/relations
/subjects
/works
/codices
*/tests/**/*.html
/build/commentaries
/build/names
/build/quotations
/build/relations
/build/subjects
/build/works
/build/codices
/build/canvases-pre-build
/data/scta-texts
/fuseki-builds/
/logs/
